parameters:
    reportUnmatchedIgnoredErrors: false
    level: 9
    paths:
     - ../../../src

    symfony:
        container_xml_path: ../../../var/cache/dev/KernelDevDebugContainer.xml

    excludePaths:
        - '**/DependencyInjection/Configuration.php'
        - '**/Migrations/Version*.php'
        - '**/DataHub/*.php'
        - '**/CoreExtension/*.php'
        - '**/Model/*.php'

    ignoreErrors:
        - '/Call to an undefined method Faker\\Generator::/'
        - '/Access to an undefined property Faker\\Generator::/'
        - '/Constant PIMCORE_CONFIGURATION_DIRECTORY not found./'
        - '/Constant PIMCORE_CLASS_DIRECTORY not found./'
        - '/Constant PIMCORE_WEB_ROOT not found./'
        - '/Constant PIMCORE_DEVMODE not found./'
        - '/Constant PIMCORE_PROJECT_ROOT not found./'
        - '/Constant PIMCORE_SYSTEM_TEMP_DIRECTORY not found./'

        - '/Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)/'
        - '/Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface/'
        - '/Call to an undefined method Pimcore\\Model\\\(.*\)::save\(\)./'
        - '/Call to an undefined method Pimcore\\Model\\\(.*\)::delete\(\)./'
        - '/Method Pimcore\\Model\\DataObject\\Concrete::getLatestVersion\(\)(.*)/'
        - '/Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\)/'
        - '/(.*) return type has no value type specified in iterable type array/'
        - '/Method (.*) has parameter \$(.*) with no value type specified in iterable type array/'

includes:
    - ../../phpstan/phpstan-symfony/extension.neon

